:root{
	--verde-1: #0F7D20;
	--verde-2: #46C059;
	--verde-3: #62C371;
	--verde-4: #96DFA1;
	--verde-5: #E1F8E4;
	--pastel: #FAE8E8;
	--color-20: #062634;
	--solor-s4: #F4FBE6;
	--tittle-color: #293031;
	--color-t1: #485354;
	--color-t2: #737A7A;
	--color-t3: #A0A9AA;
	--font-size-h2-t: 2.4rem;
	--font-size-h2-d: 2.8rem;
	--font-size-p1: 1.63rem;
	--font-size-p2: 2rem;
	--font-size-p12: 0.75rem;
	--font-size-p10: 0.625rem;
	--font: 'Montserrat', sans-serif;
}

/*Components*/
.card-contact{
	background: var(--pastel);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	box-shadow: 0px 0px 1px 1px rgb(240, 240, 240);
}


/*styles site*/
h1{
	text-align: center;
	color: var(--verde-1);
	padding: 1rem;
}

.card-contact svg{
	width: 2.2rem !important;
	height: 2.2rem !important;
	padding-right: 1rem;
}

.card-contact p{
	color: var(--verde-1);
	width: 70%;
}

.cards-contacto{
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.contactanos{
	background-image: url("../assets/contact.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.container-cards{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-contactanos{
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.ubicacion{
	width: 100%;
	object-fit: cover;
}

@media (min-width: 744px){
		.cards-contacto{
			width: 60%;
		}
}

@media (min-width: 1024px){
	.container-cards{
		width: 90%;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container-cards .ubicacion{
		width: 100%;
		height: 18.5rem;
		border-radius: 5px;
	}

	.cards-contacto{
		width: 100%;
		flex-direction: row;
	}

	.cards-contacto .card-contact{
		width: 31%;
		margin: 0.5rem;
	}


	.card-contact p{
		font-size: 0.8rem !important;
	}

}



